@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include text(18px, $c: var(--titleColor));
}

p,
a,
label,
li {
  @include text;
}

.title {
  @include text($c: var(--titleColor));
  text-transform: uppercase;
  font-weight: 600;
}
