@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

/* Red Guard*/

/*Hatchet*/
$pri: #aba194;
$alt: #ddd1c7;

/*Media Queries*/
$lg: 1200px;
$sm: 575px;
